*{
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url(../public/img/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bodyPages {
    background-image: url(../public/img/bg-pages.png);
}

.cabecalho {
    align-items: center;
    background-color: #233374;
    border-bottom: solid 1px #fbdf34;
    display: flex;
    height: 30px;
    justify-content: flex-end;
}
.cabecalho p {
    margin-left: 12px;
}

.horario {
    font-size: 15px;
    margin-right: 50px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    margin: 0 20px;
}

.fim {
    color: #fbdf34;
}
.socialMedias ul {
    display: flex;
    margin-right: 15px;
}

.socialMedias li {
    font-size: 15px;
    padding: 10px;
}

.socialMedias ul li a {
    color: black;
}

.navegacao {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #233374;
}

.menu ul {
    display: flex;
    margin-right: 0px;
}

.menu ul li {
    padding: 0px 25px;
}
.menu ul li a {
    color: #fbdf34;
}
/*MAIN*/
.conteudoPrincipal {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    padding: 150px 200px 150px 200px;
}

.botoes {
    display: flex; 
    justify-content: space-between;
    margin-top: 25px;
    width: 400px;
}


.botao1 {
    background-color: #233374;
    border-radius: 50px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 80%);
    color: #fbdf34;
    margin: 10px 10px 0 0;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.botao2 {
    background-color: #fbdf34;
    border-radius: 50px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 80%);
    color: #233374;
    margin: 10px 0 0 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.conteudoPrincipal p{
    margin-top: 25px;
    text-align: justify;
    width: 400px;
}

.conteudo {
    width: 600px;
}

.conteudo h1 {
    font-size: 2em;
    margin: 10px 0 25px 0;
}
.conteudo p {
    text-align: justify;
}

.tituloPagSobre {
    font-size: 2.5em;
    padding: 25px;
    text-align: center;
}

.conteudoTotal {
    display: flex;
    height: 500px;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: white;
}
.conteudoTotal img {
    align-self: center;
    width: 300px;
    height: 350px;
    justify-content: flex-end;
}
/*RODAPÉ*/
.containerRodape {
    border-top: #fbdf34 solid 2px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    width: 80%;
}

.rodape {
    display: flex;
    justify-content: center;
}